.input {
    padding: 0.5rem;

    background: transparent;
}


.title {
    margin: 0.6rem;
    padding: 0.7rem;

    border-radius: 1.5rem;
    box-shadow: 0 0 10px burlywood;
    background: burlywood;

    font-weight: 500;
    font-size: larger;
}