.flex {
    display: flex;
}


.column {
    flex-direction: column;
}


.grow {
    flex: 1;
}


.end {
    justify-content: flex-end;
}


.scroll {
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;
}


.hidden {
    overflow: hidden;
}