.card {
    width: 100%;

    border-radius: 5px;
    box-shadow: 0 0 5px black;

    overflow: hidden;

    text-align: start;
    user-select: none;

    position: relative;
}

.card.selected {
    background: #deb88780;
}

@media (min-width: 768px) {
    .card {
        padding: 1rem;
    }
}


.content {
    padding: 0.8rem;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4rem;
        width: 100%;
        background: linear-gradient(to top, #e9d3b259, transparent);
    }
}

.content.pinned::after {
    background: linear-gradient(to top, burlywood, transparent);
}

.content.overflowed {
    padding-bottom: 0.5rem;
}

.content.text {
    max-height: 30vh;
}


.title {
    padding: 0;
    margin: 0 0 0.5rem;

    font-size: larger;

    overflow: hidden;
    text-overflow: ellipsis;
}


.checked {
    text-decoration: line-through;
    opacity: 0.6;
}


.item {
    margin-top: 0.3rem;
}


.small {
    font-size: smaller;
}


.flex {
    display: flex;
}


.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.break {
    word-break: break-word;
}


.dot {
    position: absolute;
    left: 2px;
    top: 2px;

    width: 14px;
    height: 14px;

    background: white;

    border: 2px solid black;
    border-radius: 50%;

    display: none;
}

.dot.selected {
    background: black;
}

@media (min-width: 768px) {
    .dot {
        display: block;
    }
}


.pin {
    position: absolute;
    right: 0;
    top: 2px;
    width: 1.5rem;
    height: 1.5rem;

    display: none;
}

.pin.active {
    display: block;
}


.info {
    display: flex;
    justify-content: space-evenly;

    padding: 0.2rem;

    border: 1px solid #e8c792;
    background: #0000000f;

    color: #000000a3;
    font-size: smaller;
}