@import "src/theme";


.margin {
    width: 60%;
    height: 60%;
    margin: 20%;
}


.active,
.full:active {
    border-radius: 50%;
    background: $color-primary-2;
}


.full {
    width: 100%;
    height: 100%;
}


.fill {
    fill: $color-complement-4;
    filter: drop-shadow(0 0 2px $color-complement-1);
}