@import "src/theme";


.list + .list {
    padding-top: 0.5rem;
}

.list.pinned {
    background: $color-primary-2;
    padding-bottom: 0.5rem;
}


.item {
    width: 50%;

    padding: 5px;

    overflow: hidden;
}