@import "src/theme";


.item {
    width: 2.7rem;
    height: 2.7rem;
}


.round {
    width: 3.5rem;
    height: 3.5rem;

    padding: 10%;

    background: $color-complement-2;
    box-shadow: 0 0 8px inset $color-complement-1, 0 0 2px $color-complement-4;
}