.flex {
    display: flex;
}


.center {
    align-items: center;
}


.remove {
    width: 2rem;
    height: 2rem;

    align-self: flex-start;
}


.relative {
    position: relative;
}


.checkbox {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
}


.checked {
    position: relative;
    opacity: 0.55;

    text-decoration: line-through;
}


.round {
    padding: 0.5rem;

    border-radius: 1.5rem;
    box-shadow: 1px 1px 8px #cb944a;

    background: antiquewhite;
}