// Main Primary color */

$color-primary-0: #AC7F3B;
$color-primary-1: #FFDEAD;
$color-primary-2: #D6AC6E;
$color-primary-3: #835818;
$color-primary-4: #583501;


// Main Complement color */

$color-complement-0: #2C4E70;
$color-complement-1: #768EA8;
$color-complement-2: #4D6B8B;
$color-complement-3: #153455;
$color-complement-4: #051F39;